.container {
  display: grid;
  grid-template-columns: 1fr 860px 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  align-items: center;
  //   background-color: $light;
  background: linear-gradient(to top, #202020cc, #202020cc),
    url(/assets/images/bg2.jpeg) no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__main {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px min-content 90px;
  box-shadow: 0px 2px 24px -16px rgba(32, 32, 32, 1);

  &__header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #202020;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__icon {
      font-size: 24px;
      animation: rotation 4s infinite linear;
    }
  }
  &__content {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: $pure-white;
    padding: 1rem 2rem;
  }
  &__footer {
    grid-column: 1/-1;
    grid-row: 3/4;
    border-radius: 0 0 2rem 2rem;
    background-color: $sec-light;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1rem 1fr 1rem;
  }
}
